{% extends "ep2s/template.html" %}

{% block content %}
    <div class="topics-container">
        <h1>Tópicos Disponíveis</h1>

        <ul class="topics-list">
            {% for topic in topics %}
                <li class="topic-item">
                    <a href="{% url 'topic' topic.id %}" class="topic-link">{{ topic }}</a>
                </li>
            {% empty %}
                <li class="no-topics">
                    <em>Não há tópicos disponíveis.</em>
                </li>
            {% endfor %}
        </ul>

        <p>
            <a href="{% url 'new_topic' %}" class="btn btn-primary">Adicionar Novo Tópico</a>
        </p>
    </div>
{% endblock content %}
